---
# tasks file for nginx

- include_tasks: setup-RedHat.yml
  when: ansible_os_family == 'RedHat'

- include_tasks: setup-Ubuntu.yml
  when: ansible_distribution == 'Ubuntu'

- include_tasks: setup-Debian.yml
  when: ansible_os_family == 'Debian'

- name: Ensure nginx is started and enabled to start at boot.
  service: 
    name: nginx 
    state: started 
    enabled: yes
